In [1]:
import pandas as pd
import json

In [2]:
def load_axa_im_fund_json(file_path):
    with open(file_path, "r") as f:
        file_content = json.load(f)
        value_list = file_content["value"]["queries"][0]["results"]
        df = pd.DataFrame(value_list)
        return df

In [3]:
def load_bnp_im_fund_json(file_path):
    with open(file_path, "r") as f:
        file_content = json.load(f)
        df = pd.DataFrame(file_content)
        return df

In [56]:
euro_2 = load_bnp_im_fund_json("em_1.json")
euro_2 = euro_2.sort_values(by="date")
euro_2 = euro_2.pivot(index="date", columns=["index"], values="value").reset_index()
euro_2 = euro_2[euro_2["date"] <= "2024-12-31"]
euro_2["nav"] = euro_2["perf"]

euro_2.to_csv("./data/em_1.csv", index=False)
euro_2

index        date       bench        perf         nav
0      1999-04-06  100.000000  100.000000  100.000000
1      1999-04-07  101.253950   99.988890   99.988890
2      1999-04-08  101.834175   99.996300   99.996300
3      1999-04-09  103.048270  100.022224  100.022224
4      1999-04-12  101.731350  100.033330  100.033330
...           ...         ...         ...         ...
6369   2024-12-23  554.724850  440.737980  440.737980
6370   2024-12-24  556.896200  443.558300  443.558300
6371   2024-12-27  554.456000  440.301360  440.301360
6372   2024-12-30  554.568050  437.369000  437.369000
6373   2024-12-31  554.041000  439.003330  439.003330

[6374 rows x 4 columns]

In [45]:
euro_1 =  load_axa_im_fund_json("euro_1_data.json")
euro_1 =  euro_1.sort_values(by="date")
euro_1 = euro_1[["date","nav_price"]]
euro_1.columns = ["date","perf"]
euro_1["fund_return"] = euro_1["perf"].pct_change() + 1
euro_1 = euro_1[euro_1["date"] >= "2006-06-12"]
min_date = euro_1["date"].min()
euro_1["nav"] = euro_1["fund_return"]
euro_1.loc[euro_1["date"] == min_date, "nav"] = 100
euro_1["nav"] = euro_1["nav"].cumprod()
euro_1 = euro_1[["date","nav"]].reset_index(drop=True)
bench = euro_2[["date","bench"]]
euro_1 = pd.merge(euro_1, bench, on="date", how="left")
euro_1 = euro_1[euro_1["date"] <= "2024-12-31"]

euro_1.to_csv("./data/euro_1.csv", index=False)
euro_1

            date         nav      bench
0     2006-06-12  100.000000  100.00000
1     2006-06-13   97.157964   98.00088
2     2006-06-14   97.686715   97.99445
3     2006-06-15  100.154219   99.97309
4     2006-06-16   99.096717   99.30304
...          ...         ...        ...
4664  2024-12-20  225.203789  182.78458
4665  2024-12-23  225.402071  183.09236
4666  2024-12-27  227.318793  184.63719
4667  2024-12-30  226.129103  183.79575
4668  2024-12-31  227.406918  184.79996

[4669 rows x 3 columns]

In [4]:
euro_micro_1 =  load_axa_im_fund_json("euro_micro_1.json")
euro_micro_1 =  euro_micro_1.sort_values(by="date")
euro_micro_1= euro_micro_1[["date","nav_price"]].reset_index(drop=True)
euro_micro_1.columns = ["date","nav"]
euro_micro_1["bench"] = 100

euro_micro_1 = euro_micro_1[euro_micro_1["date"] < "2024-12-31"]
euro_micro_1.to_csv("./data/euro_micro_1.csv", index=False)
euro_micro_1

            date     nav  bench
0     2019-06-11  100.00    100
1     2019-06-12   99.93    100
2     2019-06-13   99.95    100
3     2019-06-14   99.63    100
4     2019-06-17   99.20    100
...          ...     ...    ...
1392  2024-12-19  122.32    100
1393  2024-12-20  122.32    100
1394  2024-12-23  122.30    100
1395  2024-12-27  123.69    100
1396  2024-12-30  123.99    100

[1397 rows x 3 columns]

In [ ]:
euro_1[""]

In [ ]:
euro_1 =  load_axa_im_fund_json("euro_1_data.json")
euro_1